/Movefiles/Movefiles.sln
/Movefiles/Movefiles.v12.suo
/Movefiles/Movefiles/bin/Debug
/Movefiles/Movefiles/obj/
/Movefiles/Movefiles/Movefiles.csproj

/Egret2/Egret2.sln
/Egret2/Egret2.v12.suo
/Egret2/Egret2/bin-debug
/Egret2/Egret2/obj
/Egret2/Egret2/Egret2.csproj