Movefiles/Movefiles.sln
Movefiles/Movefiles.v12.suo
Movefiles/Movefiles/bin/Debug
Movefiles/Movefiles/obj/
Movefiles/Movefiles/Movefiles.csproj

Egret2/Egret2.sln
Egret2/Egret2.v12.suo
Egret2/Egret2/bin-debug
Egret2/Egret2/obj
Egret2/Egret2/Egret2.csproj
Egret2/TypeScriptHTMLApp1/TypeScriptHTMLApp1.csproj
Egret2/TypeScriptHTMLApp1/TypeScriptHTMLApp1.csproj.user
Egret2/TypeScriptHTMLApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Egret2/TypeScriptHTMLApp1/obj/Debug/TypeScriptHTMLApp1.csproj.FileListAbsolute.txt
Egret2/mvctest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

yidongfiles/部署文件/部署文件.v12.suo


yidongfiles/部署文件/obj/Debug/DesignTimeResolveAssemblyReferences.cache

